* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  position: fixed;
}

.navbar .container-fluid {
  margin: 8px 80px;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 500;
}

.offcanvas-body {
  margin-left: -130px;
}

.offcanvas-body ul li {
  padding-right: 30px;
}

.offcanvas-body ul li a {
  font-size: 24px;
  font-weight: 500;
}

.nav-link {
  color: #000000;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000000;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #1567e9;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}

.main-text {
  margin-top: 120px;
  margin-left: 80px;
}

.main-text h1 {
  font-size: 90px;
  line-height: 1;
}

.main-text h1 span {
  margin-left: 290px;
}

.main-text .arrow {
  width: 250px;
  height: 2px;
}

.main-text .arrow img {
  width: 100%;
  margin-left: 10px;
}

.second-text {
  float: right;
  margin-right: 200px;
  margin-top: 60px;
  display: flex;
}

.second-text .arrow {
  width: 120px;
  height: 1px;
  margin-top: 5px;
  margin-right: 50px;
}

.second-text .arrow img {
  width: 100%;
}

.second-text h2 {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.4;
}

.second-text h2 i {
  padding: 18px 35px;
  color: #1567e9;
  background-color: #ffffff;
  border: 2px solid #1567e9;
  border-radius: 40px;
  text-decoration: none;
  margin-left: 240px;
  animation: changearw 4s infinite linear;
}

@keyframes changearw {
  0% {
    background-color: #1567e9;
  }

  20% {
    background-color: #ffffff;
  }

  40% {
    background-color: #1567e9;
  }

  70% {
    background-color: #ffffff;
  }

  100% {
    background-color: #1567e9;
  }
}

.boxfoto {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  padding: 0 100px;
}

.anchor img {
  height: 170px;
  margin: 0 80px;
  transition: 0.5s ease;
  margin-top: 100px;
}

.anchor img:hover {
  transform: scale(1.3);
}

/* Konten 2 */

.content2 {
  display: flex;
  width: 100%;
  height: 1000px;
  padding-top: 140px;
}

.content2 .image {
  margin-left: 100px;
  width: 450px;
  height: 720px;
  border-radius: 278px;
}

.content2 .image2 {
  width: 316px;
  height: 505px;
  border-radius: 278px;
  margin-top: 250px;
  margin-left: -230px;
  border: 10px solid white;
}

.content2 .text {
  margin-top: 80px;
  margin-left: 80px;
}

.content2 .text h1 {
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
}

.content2 p {
  width: 700px;
  font-size: 32px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 30px;
}

.content2 a {
  padding: 18px 35px;
  color: #1567e9;
  background-color: #ffffff;
  border: 2px solid #1567e9;
  font-size: 32px;
  font-weight: 400;
  margin-left: 180px;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
}

.content2 a:hover {
  padding: 23px 40px;
  color: #ffffff;
  background-color: #1567e9;
}

.changecontent::after {
  content: " ";
  margin-left: 270px;
  animation: changetxt 2s infinite linear;
}

@keyframes changetxt {
  0% {
    content: url(../img/up5.png);
  }

  25% {
    content: url(../img/up4.png);
  }
  45% {
    content: url(../img/up3.png);
  }
  70% {
    content: url(../img/up2.png);
  }

  100% {
    content: "";
  }
}

.footer .garis {
  width: 90%;
  height: 1px;
  background-color: rgb(104, 104, 104);
  margin-left: 80px;
}

.footer h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  font-size: 30px;
  font-weight: 300;
}

/*;';';';';'; */

footer {
  width: 100%;
  padding: 30px 0 0 20px;
  background: #bababa;
  margin-top: 100px;
}

footer .footer_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag {
  text-align: center;
}

footer .footer_main .footer_tag h2 {
  color: #000;
  margin-bottom: 25px;
  font-size: 30px;
}

footer .footer_main .footer_tag p {
  margin: 10px 0;
}

footer .footer_main .footer_tag i {
  margin: 0 5px;
  cursor: pointer;
}

footer .footer_main .footer_tag i:hover {
  color: #faf9f5;
}

footer .end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .end span {
  color: #1567e9;
  margin-left: 10px;
}
