* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  position: fixed;
}

.navbar .container-fluid {
  margin: 8px 80px;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 500;
}

.offcanvas-body {
  margin-left: -130px;
}

.offcanvas-body ul li {
  padding-right: 30px;
}

.offcanvas-body ul li a {
  font-size: 24px;
  font-weight: 500;
}

.nav-link {
  color: #000000;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000000;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #1567e9;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}

/* //// */

.repeat-img {
  background-size: contain;
  background-repeat: repeat;
}

.menu-tab-wp {
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.menu-tab ul {
  color: #000000;
  display: inline-block;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.menu-tab ul li a {
  text-decoration: none;
  color: #000000;
}

.menu-tab ul li,
.menu-tab ul .filter-active {
  display: inline-flex;
  text-transform: capitalize;
  font-size: 18px;
  line-height: normal;
  cursor: pointer;
  padding: 10px 26px;
  border-radius: 30px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.filter-active {
  position: absolute;
  left: 0;
  top: 12px;
  min-height: 50px;
  z-index: -1;
}

.filter-1 {
  background-color: #1567e9;
  color: white;
}

.menu-list-row .bydefault_show .dish-box-wp {
  display: inline-block !important;
}

/* ,l,l,l,l,l */

.Product .Product_box {
  width: 90%;
  margin: 0 auto;
  margin-left: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.Product .Product_box .Product_card {
  width: 325px;
  height: 400px;
  padding-top: 10px;
  border-radius: 50px;
  margin-bottom: 20px;
  background-color: rgba(242, 242, 242, 0.205);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.Product .Product_box .Product_card .Product_image {
  width: 300px;
  height: 245px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product .Product_box .Product_card .Product_image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
  object-fit: contain;
}

.Product .Product_box .Product_card .Product_image:hover img {
  transform: scale(1.1);
}

.Product .Product_box .Product_card .Product_info h2 {
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color: #000000;
}

.Product .Product_box .Product_card .Product_info h3 {
  margin-left: 20px;
  margin-top: 8px;
  font-size: 20px;
}

.Product_info .price {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.Product_info .price a {
  padding: 15px 15px;
  background-color: #1567e9;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  margin-left: 80px;
}

footer {
  width: 100%;
  padding: 30px 0 0 20px;
  background: #bababa;
  margin-top: 100px;
}

footer .footer_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag {
  text-align: center;
}

footer .footer_main .footer_tag h2 {
  color: #000;
  margin-bottom: 25px;
  font-size: 30px;
}

footer .footer_main .footer_tag p {
  margin: 10px 0;
}

footer .footer_main .footer_tag i {
  margin: 0 5px;
  cursor: pointer;
}

footer .footer_main .footer_tag i:hover {
  color: #faf9f5;
}

footer .end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .end span {
  color: #1567e9;
  margin-left: 10px;
}
